<h1>New Article</h1>

<%= form_with model: @student do |form| %>
  <div>
    <%= form.label :FirstName %><br>
    <%= form.text_field :first_name %>
    <% @student.errors.full_messages_for(:first_name).each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :LastName %><br>
    <%= form.text_area :last_name %>
  </div>
  
  <div>
    <%= form.label :Class %><br>
    <%= form.text_field :class_name %>
     <% @student.errors.full_messages_for(:class_name).each do |message| %>
     <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>

<% end %>
